<div class="content-modal">
	<ul class="option-list">
		<li class="option-body">
			<%= link_to new_account_dealership_path(@account) do %>
				<i class="option-icon fa fa-building-o"></i>
				<span><%= t("dealership")%></span>
			<% end %>
		</li>
		<li class="option-body">
			<%= link_to new_account_user_path(@account) do %>
				<i class="option-icon fa fa-user"></i>
				<span><%= t("user")%></span>
			<% end %>
		</li>
	</ul>
</div>