<div class="container-fluid page-nav" id="page-nav">
	<div class="container">
		<div class="row">
		  <div class="col-xs-12">
			  <ul class="nav nav-pills">
				  <li role="presentation"><%= link_to t("overview.title"), account_path(@account), :class => (controller_name == "accounts" && action_name == "show" ? "active" : "")  %></li>
				  <li role="presentation"><%= link_to t("dealership").pluralize(I18n.locale.to_sym), account_dealerships_path(@account), :class => (controller_name == "dealerships" ? "active" : "")  %></li>
				  <li role="presentation"><%= link_to t("user").pluralize(I18n.locale.to_sym), account_users_path(@account), :class => (controller_name == "users" ? "active" : "")  %></li>
				  <li role="presentation"><%= link_to t("overview.settings"), edit_account_path(@account), :class => (controller_name == "accounts" && action_name == "edit" ? "active" : "") %></li>
				</ul>
			</div>
		</div>
	</div>
</div>