<div class="container-fluid page-nav" id="page-nav">
	<div class="container">
		<div class="row">
		  <div class="col-xs-12">
			  <ul class="nav nav-pills">
				  <li role="presentation"><%= link_to t("admin.dashboard.overview.title"), dashboard_index_path, :class => (controller_name == "dashboard" ? "active" : "")  %></li>
				</ul>
			</div>
		</div>
	</div>
</div>