<div class="container-fluid page-header" id="page-title">
	<div class="container">
		<div class="row">
		  <div class="col-xs-12 col-sm-6">
		  	<h4 class="page-title"><i class="fa fa-bar-chart"></i>Gráficos</h4>
		  </div>
		  <div class="col-xs-6">
	  		<a href="#options-model" class="auto-more call-modal"><i class="fa fa-plus"></i></a>
	  	</div>
		</div>
	</div>
</div>