<div class="col-xs-9">
	<ul class="list-group">
		<li class="list-group-item" id="form-inputs">
			<div class="row">
				<div class="col-xs-5 list-description">
					<h4>Título</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac tempor tortor, a cursus dolor. Nam dignissim egestas tellus, sit amet ultrices mi hendrerit sit amet.</p>
				</div>
				<div class="col-xs-7 list-content">
					<form>
					  <div class="form-group">
					    <label for="exampleInputEmail1">Email address</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputPassword1">Password</label>
					    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					  </div>
					  <div class="form-group">
					    <label for="exampleInputFile">File input</label>
					    <input type="file" id="exampleInputFile">
					    <p class="help-block"><small>Example block-level help text here.</small></p>
					  </div>
					  <div class="form-group group-choice">
					  	<div class="checkbox">
						  	<label for="fancy-checkbox">Checkbox 1</label>
						    <input type="checkbox" name="fancy-checkbox-2" id="fancy-checkbox-1"/>
						    <label for="fancy-checkbox-1">Checkbox</label>
					  	</div>
					  	<div class="checkbox">
						  	<label for="fancy-checkbox">Checkbox 2</label>
						    <input type="checkbox" name="fancy-checkbox-2" id="fancy-checkbox-2"/>
						    <label for="fancy-checkbox-2">Checkbox</label>
					  	</div>
					  </div>
					  <div class="form-group group-choice">
						  <div class="radio">
						  	<label for="fancy-radio-1">Radio 1</label>
						  	<input type="radio" name="fancy-radio" id="fancy-radio-1"/>
						    <label for="fancy-radio-1">Radio</label>
						  </div>
						  <div class="radio">
						  	<label for="fancy-radio-2">Radio 2</label>
						    <input type="radio" name="fancy-radio" id="fancy-radio-2"/>
						    <label for="fancy-radio-2">Radio</label>
						  </div>
					  </div>
					  <button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
			</div>
		</li>
		<li class="list-group-item" id="form-checkbox">
			<div class="row">
				<div class="col-xs-5 list-description">
					<h4>Checkbox e Radio Código</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac tempor tortor, a cursus dolor. Nam dignissim egestas tellus, sit amet ultrices mi hendrerit sit amet.</p>
				</div>
				<div class="col-xs-7 list-content">
					<div class="form-group">
				    <label for="exampleInputEmail1">Checkbox</label>
				    <br>
			    	<code>
			    		<%=
			    			'<div class="form-group group-choice">
							  	<div class="checkbox">
								  	<label for="fancy-checkbox">Checkbox 1</label>
								    <input type="checkbox" name="fancy-checkbox-2" id="fancy-checkbox-1"/>
								    <label for="fancy-checkbox-1">Checkbox</label>
							  	</div>
							  </div>'
			    		%>
			    	</code>
			    	<br>
			    	<hr>
			    	<label for="exampleInputEmail1">Radio</label>
				    <br>
			    	<code>
			    		<%=
			    			'<div class="form-group group-choice">
								  <div class="radio">
								  	<label for="fancy-radio-1">Radio 1</label>
								  	<input type="radio" name="fancy-radio" id="fancy-radio-1"/>
								    <label for="fancy-radio-1">Radio</label>
								  </div>
							  </div>'
			    		%>
			    	</code>
				  </div>
				</div>
			</div>
		</li>
	</ul>
</div>
<aside class="col-xs-3">
	<div class="panel-group auto-aside-nav" id="aside-nave" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingOne">
	      <h4 class="panel-title">
	        <a role="button" data-toggle="collapse" data-parent="#aside-nave" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
	          Página
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
	      <div class="panel-body">
	        <a href="#page-title">Título da página</a>
	        <a href="#page-nav">Menu da página</a>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingTwo">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#aside-nave" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	          Formulário
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	      <div class="panel-body">
	        <a href="#form-inputs">Inputs</a>
	        <a href="#form-checkbox">Checkbox e Rádio código</a>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingThree">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#aside-nave" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	          Collapsible Group Item #3
	        </a>
	      </h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
	      <div class="panel-body">
	        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
	      </div>
	    </div>
	  </div>
	</div>
</aside>
