<div class="container-fluid page-header" id="page-title">
	<div class="container">
	  <div class="col-xs-6">
	    <h4 class="page-title"><i class="fa fa-code"></i><a href="">Desenvolvedor</a><span class="fa fa-chevron-right"></span>UI Elementos</h4>
	  </div>
	  <div class="col-xs-6">
	  	<a href="#" class="auto-more call-modal"><i class="fa fa-plus"></i></a>
	  	<div class="btn-group" role="group" aria-label="...">
			  <button type="button" class="btn btn-default">Botão</button>

			  <div class="btn-group" role="group">
			    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			      Dropdown
			      <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu">
			      <li><a href="#">Dropdown link</a></li>
			      <li><a href="#">Dropdown link</a></li>
			    </ul>
			  </div>
			</div>
	  	<a href="#" class="auto-favorite" data-toggle="tooltip" data-placement="left" title="Favorito"><i class="fa"></i></a>
	  </div>
	</div>
</div>

<div class="container-fluid page-nav" id="page-nav">
	<div class="container">
		<div class="row">
		  <div class="col-xs-12">
			  <ul class="nav nav-pills">
				  <li role="presentation"><a href="" class="active" data-title="UI Elementos | Formulários">Formuários</a></li>
				  <li role="presentation"><a href="#lists" data-title="UI Elementos | Outro">Disabled link</a></li>
				  <li role="presentation"><a href="#forms" data-title="UI Elementos | Mais um outro">Disabled link</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<section class="container-fluid">
	<div class="container">
		<div class="row">
			<div id="main">
				<%= render "forms" %>
			</div>
		</div>
	</div>
</section>
