<div class="container-fluid page-nav" id="page-nav">
	<div class="container">
		<div class="row">
		  <div class="col-xs-12">
			  <ul class="nav nav-pills">
				  <li role="presentation"><%= link_to t("admin.resources.overview.title"), resources_path, :class => (controller_name == "resources" ? "active" : "")  %></li>
				  <li role="presentation"><%= link_to t("admin.types.index.title"), types_path, :class => (controller_name == "types" ? "active" : "")  %></li>
				  <li role="presentation"><%= link_to t("admin.categories.index.title"), categories_path, :class => (controller_name == "categories" ? "active" : "")  %></li>
				</ul>
			</div>
		</div>
	</div>
</div>