@import "../global";

.modal.admin-modal {
	width: 400px;
	max-width: 100%;
	.form-group {text-align: right;}
	.btn-link {
		text-decoration: underline;
		&:hover,
		&:focus,
		&:visited,
		&:active {
			outline: none;
		}
	}
	.head-modal {
	  h4 {
	  	text-align: center;
	    font-weight: normal;
	    border-left: none;
	    border-bottom: 1px solid $color-5th;
	    padding: 0 0 20px;
	    margin: 0 0 20px;
	  }
	}
}
