<div class="container-fluid page-header" id="page-title">
	<div class="container">
		<div class="row">
		  <div class="col-xs-6">
		    <h4 class="page-title"><i class="fa fa-user-plus"></i><%= t('helpers.submit.create', model: t('user')) %></h4>
		  </div>
		</div>
	</div>
</div>

<section class="container-fluid container-form">
	<div class="container">
		<div class="row">
			<div id="main">
				<%= render "form" %>
			</div>
		</div>
	</div>
</section>
