<html>
  <body style="display: table; margin: 0 auto; width: 100%; max-width: 550px;">
  	<div style="margin-bottom: 25px;">
		  <p style="width: 50%; float: left;"><small>Welcome to Autódromo!</small></p>
		  <p style="width: 50%; float: right;"><small>Copyright © AutoForce. All rights reserved.</small></p>
  	</div>
  	<br>
	  <%= yield %>
    <br>
    <p>If you have any questions, please visit www.autoforce.com.br.
		<br>Thanks,
		<br>The PitStop Team.</p>
    <div style="display: block; width: 100%; font-size: 9px; text-align: center;">
			<p><a href="http://www.autoforce.com.br/"><img src="http://autoforce.com.br/img/logo-autoforce.png" alt="AutoForce"></a></p>
			<a href="http://www.autoforce.com.br/">AutoForce | Perforance e Resultados</a>
			<p>contato@autoforce.com.br</p>
			<p>(84) 3027-1996</p>
		</div>
  </body>
</html>
